<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscador de Información</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="search-box">
        <form action="/buscar" method="POST">
            <div class="search-bar">
                <input type="text" name="consulta" placeholder="Escribe tu consulta aquí...">
                <div class="divider"></div> <!-- Línea divisoria -->
                <select name="metodo">
                  <option value="tfidf">TF-IDF</option>
                  <option value="bow">Bag of Words</option>
                  <option value="word2vec">Word2Vec</option>
                  <option value="indice_invertido">Indice-invertido</option>
                </select>
                <button type="submit">BUSCAR</button>
              </div>
        </form>
    </div>
</body>
</html>
